body{
    background-image:url("https://burst.shopifycdn.com/photos/contact-us-image.jpg?width=925&format=pjpg&exif=1&iptc=1");
    background-repeat: no-repeat;
}
h1{
    float:right;
    margin-right: 270px;
    font-size: 50px;
    font-style: italic;
    font-weight: 300;
    color: black;
}
h2{
    float:right;
    margin-right: 270px;
    font-size: 50px;
    font-style: italic;
    font-weight: 300;
    color: black;
}
h3{
    float:right;
    margin-right: 270px;
    font-size: 50px;
    font-style: italic;
    font-weight: 300;
    color: black;
}
    
       
   


